<!DOCTYPE html>
<html xmlns="html://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/indexStyle.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Catering</title>
	<style>
	body {
	background-image: url('/images/cateringBG.png');
	}
	</style>
</head>
<body>
<div class = "row">
	<div class = "column">
	<h1>Catering</h1>
	</div>
	<div class = "column">
	<h3>Benvenuto in Catering,</h3>
	<h4>il pi&#249; grande servizio gastronomico del web!</h4>
	<p><a href="/login">Login</a></p>
	<p><a href="/registrazione">Registrati</a></p>
	<p><a href="/home">Home</a></p>
	</div>
</div>
</body>
</html>