<!DOCTYPE html>
<html xmlns="html://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/loginStyle.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Login</title>
<style>
	body {
	background-color: #f4c95d;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}
</style>
</head>

<body>
	<div class="container">
		<div class="form" id="login">
			<h1>Login</h1>
			<div>
				<form th:action="@{/login}" method="post">
					<div class="login">
						<div th:if="${param.error}">
							<div class="alert alert-danger">Invalid username or password.</div>
						</div>
						<div class="form__input-group">
							<span><input class="form__input" type="text" autofocus placeholder="username"
									autocomplete="off" /></span>
						</div>
						<div class="form__input-group">
							<span><input class="form__input" type="password" autofocus placeholder="password"
									autocomplete="off" /></span>
						</div>
					</div>
					<div class="boxButton">
						<div>
							<span><button type="submit">Log-in<br><i class="material-icons">done</i></button></span>
						</div>
						<div class="loginRegister">
							<span>New user? <a href="/" th:href="@{/registrazione}">Register
									here</a></span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>