<!DOCTYPE html>
<html xmlns="html://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/formStyle.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8">
<title>Nuovo buffet</title>
<style>
	body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}
</style>
</head>
<body>
<div class="topnav">
  <a href="/home">Home</a>
  <a href="/chefs">Chef</a>
  <a class = "active" href="/buffets">Buffet</a>
  <a href="/piatti">Piatti</a>
  <a href="/ingredienti">Ingredienti</a>
  <a href="/logout">Logout</a>
</div>
<h1>Inserimento nuovo buffet</h1>
<form th:action="@{/nuovoBuffet}" method="POST" th:object="${buffet}">
		<div>
			<div>
				<span><input type="text" th:field="*{nome}" placeholder="nome" autocomplete="off"/></span>
			</div>		
			<div>
				<span><select th:field="*{chef}">
				<th:block th:each="ch: ${chefs}">
       			<option th:value="${ch.id}" th:text="${ch.cognome}"></option>
       			</th:block>
    			</select></span>
			</div>
			<div>
				<span><input type="text" th:field="*{descrizione}" placeholder="descrizione" autocomplete="off"/></span>
			</div>
			<div>
				<span><button type="submit">Invio<i class="material-icons">done</i></button></span>
			</div>
		</div>
	</form>
</body>
</html>